# Prerequisites
*.d
*.obj
*.exe
*.pdb
*.ilk
*.suo
*.sln
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake build folders
build/
out/
cmake-build-debug/
cmake-build-release/

# Visual Studio cache
.vs/
x64/
x86/
Debug/
Release/

# OS junk
.DS_Store
Thumbs.db.cache/
build*/
.cache
.vscode
FluxGeo_v1.0/